body {
  background: #fff;
}

.loading {
  text-align: center;
  margin-top: 20%;
}

.logo {
  width: 15%;
  margin-left: 40%;
  margin-top: 3%;
}

.imageArea {
  margin: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.photo {
  width: 200px;
  height: 200px;
  border:ridge  #E399BA;
  filter:drop-shadow(5px 5px 5px #7C70D1);
}

.photo:hover {
  transition: 2s;
  width: 220px;
  height: 220px;
}

.item {
  margin: 5px;
}