/* @import '~@squidit/css/src/scss/squid.scss'; */

body {
  background: #fff;
}

.loading {
  text-align: center;
  margin-top: 20%;
}

.logo {
  width: 15%;
  margin-left: 40%;
  margin-top: 3%;
}

.imageArea {
  margin: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoDiv {
  text-align: center;
}

i, p {
  color: white;
  visibility: hidden ;
  margin-top: 20px;
  text-align:inherit;
  padding-top: 5px;
}

#show {
  visibility: visible !important;
}

.item:hover {
  transition: 1s;
  border:ridge  #E399BA;
  filter:drop-shadow(5px 5px 5px #7C70D1);
}

.item {
  margin: 15px;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}